__pycache__
.venv
data
artifacts
*.pyc
*.pyo
*.pyd
env/
venv/
.pytest_cache
.env
.env.*
!.env.example
dataset/*
!dataset/medquad_sample/
!dataset/arxiv_sample/
dataset/medquad_sample/*
!dataset/medquad_sample/sample_medquad_records.json
dataset/arxiv_sample/*
!dataset/arxiv_sample/sample_arxiv_cs.jsonl
